body{
    background-image:url("../images/bg2.png");
    background-color:brown;
    background-size: 10cm;
}

h1{
    color: black;
    font-weight: 800;
    font-size: 2cm;
    text-align: center;
    font-style: italic;
}